:root {
  /*colors*/
  --first--color: #b94f6f;
  --secundy-color: #d981a2;
  --third-color: #ffecf1;

  /*botões*/
  --btnFinalizar: #659c57;
  --btnFinalizar-hover: #54ac44;
}

.titulo {
  color: white;
  font-weight: 500 !important;
}

.txtSobre {
  background-color: var(--third-color);
}
