* {
  text-decoration: none;
}

:root {
  /*colors*/
  --first-color: #b94f6f;
  --secundy-color: #d981a2;
  --third-color: #ffecf1;
}

.caixa {
  background-color: var(--first-color);
}

.titulo {
  color: white !important;
  font-weight: bold !important;
}

.botao {
  border-color: white !important;
  background-color: var(--first-color);
  color: white !important;
}

.botao:hover {
  background-color: white !important;
  color: black !important;
}

.postagens {
  background-color: white;
}
