:root {
  /*colors*/
  --first-color: #b94f6f;
  --secundy-color: #d981a2;
  --third-color: #ffecf1;

  /*botões*/
  --btnFinalizar: #659c57;
  --btnFinalizar-hover: #54ac44;
}

.box1 {
  background-color: var(--secundy-color);
  height: 120px;
}

.box2 {
  background-color: var(--first-color);
  height: 60px;
}

.redes {
  font-size: 50px;
  color: white;
}

.textos {
  color: white;
}
