* {
  margin: 0;
}

:root {
  /*colors*/
  --first--color: #b94f6f;
  --secundy-color: #d981a2;
  --third-color: #ffecf1;

  /*botões*/
  --btnFinalizar: #659c57;
  --btnFinalizar-hover: #54ac44;
}

.text-decorator-none {
  text-decoration: none;
  color: white;
}

.cursor {
  cursor: pointer;
  color: white;
}

.appBar {
  background-color: var(--first--color) !important;
  padding: 0.25rem;
}

.options {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

@media (min-width: 900px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  .options {
    opacity: 1;
    visibility: visible;
    z-index: 0;
  }

  .icon-menu {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
  }
}
